body{
    background-image: url("img/bg.png");
    background-size: cover;
    height: 100vh;
}

.mainLinks{
    width:460px;
    margin:auto;
    margin-top: 60px;
}

.whiteArea .personName{
    font-size: 22px;
    padding-top: 25px;
    color: darkcyan;
}

.mainLinks a{
    color: white;
    display: inline;
    font-size: 14px;
    margin-right: 27px;
}

.mainLinks a:hover{
    color:orange ;
}

.whiteArea{
    width: 400px;
    height: 480px;
    background-color: whitesmoke;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    border:40px solid white;
    border-top: 0px;
}

.whiteArea .data .information p{
    color: darkcyan;
    margin-top: 0;
}

.symbol p{
    font-size: 24px;
    color: white;
    margin-left: 597px;  /*???*/
}

.symbol img{
    width: 60px;
    height: 51px;
    float: left;
}

.whiteArea img{
    width: 150px;
    margin-top: 0;
}

.whiteArea .information{
    float:right;
    padding-left: 10px;
}

.whiteArea .data .contactInformation p{
    color: darkcyan;
    margin-top: 0;
    margin-bottom: 8px;
}

.whiteArea .data .contactInformation{
    float:left;
    padding-right: 10px;
}

.whiteArea .data .titleContact{
    color: darkcyan;
    margin-bottom: 5px;
    margin-top: 8px;
}

.whiteArea .data .aboutMySelf{
    margin-top: 85px;
    margin-bottom: 10px;
    color: darkcyan;
}

.whiteArea .data .personalQualities{
    margin-top: 0px;
    margin-bottom: 0px;
    color: darkcyan;
}

.whiteArea .data .person p{
    margin-top: 5px;
    margin-bottom: 5px;
    color: darkcyan;
}

.lastLine .webStudio {
    float: left;
    margin-top: 30px;
    margin-left: 280px;
}

.lastLine .webStudio .tel p{
    float: left;
    margin-left: 5px;
}

.lastLine .webStudio .tel .first {
    font-size: 22px;
    color: orange;
}

.lastLine .webStudio .tel .second {
    margin-top: 30px;
    font-size: 14px;
    color: whitesmoke;
}

.lastLine .webStudio .third {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 16px;
    color: darkcyan;
    text-decoration: underline;
}

.lastLine .webStudio .fourth {
    margin-top: 03px;
    font-size: 16px;
    color:whitesmoke;
}